/*GENERAL*/

:root {
  --color-one: black;
  --color-two: yellow;
  --color-three: silver;
  --color-four: rgb(190, 185, 185);
  --color-five: rgba(214, 225, 228, 0.322);
  --color-seven: rgba(101, 216, 24, 0.288);
  --color-eight: rgba(47, 82, 196, 0.188);
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

*,
*:before,
*:after {
  border: 0px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  /* Careful, this breaks the word wherever it is without a hyphen */
  overflow-wrap: break-word;
  word-wrap: break-word;
  scroll-behavior: auto;
  /* Adds a hyphen where the word breaks */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none !important;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.debug {
  outline: 1px solid red;
}

html,
body {
  font-family: "Roboto" !important;
  font-weight: 400;
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 1.2rem;
  line-height: 1.4rem;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  background: white;
  overflow: scroll;
}

video {
  min-height: 100vh;
  min-width: 100vw;
}

small {
  font-size: 1rem;
}

#app {
  position: relative;
  height: 100%;
  width: 100%;
  background: white;
  background-image: radial-gradient(circle, #e2dddd 10%, transparent 11%);
  background-size: 5px 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#wrapper {
  overflow: hidden;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.1rem;
  width: 100%;
}

h3 {
  font-size: 1rem;
}

label {
  font-weight: bold;
}

article img {
  width: 100%;
}

#chat {
  padding: 40px 0px 50px 0px;
}

img[src=""] {
  display: none;
}

img[src=" "] {
  display: none;
}

.avatar {
  overflow: hidden;
  margin: 20px 0 0 0;
  width: 50px;
  height: 50px;
  background: rgb(7, 7, 7);
}

button.vip-button {
  background: rgb(45, 100, 208);
  color: white;
  border: 0px solid gray;
}

button.vip-button:hover {
  background: rgb(45, 100, 208);
  color: white;
}

button.vip-button:focus {
  background: rgb(45, 100, 208) !important;
  color: white;
}

button {
  background: rgb(255, 255, 255);
  padding: 8px;
  width: 90%;
  margin: 0px 0 15px 0px;
  color: black;
  border-radius: 10px;
  border: 2px solid gray;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Roboto" !important;
  touch-action: none;
  overflow: hidden;
}
button:focus {
  background: orange;
  border: 2px solid orange;
}

button:hover {
  background: orange;
  border: 2px solid orange;
}

.button-marquee span {
  display: inline-block;
  white-space: nowrap;
  transition: transform 10s linear;
}

.button-marquee:focus span {
  animation: scrollText 5s linear infinite;
}

button.audioplayer-button {
  width: 50px;
  border: 0px solid gray;
  padding: 5px;
}

button.audioplayer-button img {
  display: block;
  width: 30px;
}

@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.addressbook-box {
  margin: 10vh 0 0 0;
  padding: 0 0 60px 0;
  min-width: 100%;
}

#addressbook button.addressbook-item {
  border-radius: 0px;
  min-height: 60px;
  max-height: 60px;
  color: black;
  outline: 0px;
  border: 0px;
  margin: 0 0 25px 0 !important;
  position: relative;
  min-width: 100%;
}

#addressbook button.addressbook-item img {
  height: 50px;
  width: 50px;
  background: rgb(7, 7, 7);
  border-radius: 50%;
  position: absolute;
  left: 5px;
}

#addressbook .addressbook-item-name {
  text-align: left;
}

#addressbook button.addressbook-item .inner {
  padding: 0 0 0px 10px !important;
}

#addressbook button.addressbook-item:hover {
  background: rgba(45, 100, 208, 0) !important;
}

#addressbook button.addressbook-item:focus {
  background: none;
}

#addressbook button.addressbook-item:focus .inner {
  background: none;
}

#addressbook button.addressbook-item .last-conversation-message {
  max-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  color: black;
  margin: 10px 0 0 0;
  font-size: small;
  font-weight: 100;
  white-space: nowrap;
  overflow-wrap: anywhere;
}

#addressbook button.addressbook-item .last-conversation-date {
  width: fit-content;
  color: black;
  margin: 10px 0 0 0;
  font-size: small;
  font-weight: 100;
  text-align: right;
}

#addressbook button.addressbook-item .online-indicator {
  border-radius: 50%;
  background: red;
  border: 2px solid white;
  min-width: 12px;
  min-height: 12px;
  max-width: 12px;
  max-height: 12px;
  position: absolute;
  left: 10px;
  display: block;
  z-index: 3;
}

#addressbook button[data-online="true"] .online-indicator {
  background: rgb(81, 236, 9);
}

#addressbook button[data-online="false"] .online-indicator {
  background: red;
}

#addressbook button.addressbook-item small {
  color: gray;
}

#addressbook button.addressbook-item.swipe-left {
  transform: translateX(20%);
}

#addressbook button.addressbook-item.swipe-right {
  transform: translateX(-20%);
}

#addressbook button.addressbook-item:last-child {
  margin-bottom: 0px;
}

a.button-style {
  background: rgb(255, 255, 255);
  width: 95%;
  padding: 5px;
  margin: 10px 0 15px 0px;
  color: black;
  border-radius: 10px;
  border: 2px solid gray;
  font-weight: 700;
  min-height: 40px;
  font-family: "Roboto" !important;
  display: block;
  text-align: center;
}
a.button-style:focus {
  background: orange;
  border: 0px solid gray;
}

a {
  text-decoration: none;
}

select {
  width: 95%;
  padding: 10px;
  margin: 10px 5% 0px 5%;

  /* styling */
  background-color: white;
  border: thin solid rgb(56, 56, 66);
  border-radius: 4px;
  font: inherit;
  line-height: 1.5em;
  text-align: center;

  /* reset */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

textarea {
  height: 30px;
  width: 95%;
  padding: 3px;
  border: 1px solid silver;
}

input {
  width: 95%;
  height: 40px;
  padding: 10px;
  border: 2px solid silver;
  border-radius: 4px;
  margin: 0 0 0px 0px;
}

label {
  display: block;
  min-width: 100%;
  margin: 0 0 10px 0;
  text-align: center;
}

.input-parent:focus {
  background: none;
}

.input-parent input {
  margin: 0px 0 10px 0;
}

#svg {
  position: absolute;
  left: 0;
  top: 10px;
  bottom: 20px;
  width: 100%;
  height: 100%; /* Responsive height */
  pointer-events: none;
  z-index: 400000;
}

#waiting {
  background: rgb(228, 100, 14);
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0px;
  z-index: 2;
}

#waiting span {
  margin: -120px 0 0 0;
  color: antiquewhite;
}

div#intro {
  position: fixed;
  background: black;
  z-index: 100000;
  min-width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  animation-name: intro;
  animation-duration: 1s;
  animation-delay: 8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

div#intro img {
  width: 220px;
  height: auto;
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -120px;
  animation-name: intro_img;
  animation-duration: 4s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#intro #version-box {
  position: absolute;
  bottom: 50px;
  height: 40px;
}

#intro #version-box kbd {
  border: 2px solid pink;
  box-shadow: 2px 2px pink;
  font-size: small;
  line-height: 0.85em;
  display: block;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 3px 5px;
  white-space: nowrap;
  color: white;
  width: fit-content;
  height: 20px;
}

#invite img {
  display: block;
  width: 100%;
  height: auto;
  padding: 20px;
}

@keyframes intro_img {
  0% {
    filter: hue-rotate(-0.25turn);
  }
  20% {
    filter: hue-rotate(-2.25turn);
  }

  40% {
    filter: hue-rotate(-0.65turn);
  }

  60% {
    filter: hue-rotate(-0.35turn);
  }

  100% {
    filter: hue-rotate(-1.65turn);
  }
}

@keyframes intro {
  from {
    display: block;
    opacity: 100;
  }
  to {
    display: none;
    opacity: 0;
  }
}

#audiovis {
  width: 80vw;
  height: 80vh;
  background: none;
}

canvas {
  min-width: 100%;
}

@keyframes up-and-down {
  10% {
    height: 30%;
  }

  30% {
    height: 100%;
  }

  60% {
    height: 50%;
  }

  80% {
    height: 75%;
  }

  100% {
    height: 60%;
  }
}

#KaiOSAd {
  height: 200px;
  width: 220px;
}

#KaiOSads-Wrapper {
  padding: 0px;
  height: 200px !important;
  width: 240px;
  overflow: hidden;
  margin: 0 0 0 -10px;
}

#KaiOSAds-Wrapper iframe {
  width: 220px;
}

.page {
  padding: 80px 10px 10px 10px;

  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*///////////////////////////
///TOAST////////////////*/

div#toast {
  position: fixed;
  height: auto;
  overflow: none;
  background: black;
  color: white;
  z-index: 10;
  min-width: 100%;
  padding: 5px;
  top: 0px;

  transition: all 0.5s ease-in-out;
  transform-origin: left top;
  transform: translate(0px, -100px);
}

div#side-toast {
  position: fixed;
  height: auto;
  overflow: none;
  background: orange;
  color: white;
  z-index: 10;
  padding: 8px;
  top: 70vh;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;

  transition: all 0.5s ease-in-out;
  transform-origin: left top;
  opacity: 0;
  max-width: 100vw;
}

div#side-toast img {
  width: 60px;
}

div.nickname {
  font-weight: bold;
}
/*/ //////////////////////////
///VIEWS////////////////*/

div#map-container {
  width: 100%;
  position: fixed;
  overflow: hidden;
  margin: 0px 0 0 0;
  top: 0;
  left: 0;
  z-index: 0;
}

#crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  pointer-events: none; /* damit Mausereignisse durchgehen */
  z-index: 1000000;
}

#crosshair .hline {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  background: black;
  outline: 2px solid white;
  transform: translateY(-50%);
}

#crosshair .vline {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 2px;
  outline: 2px solid white;

  background: black;
  transform: translateX(-50%);
}

img.myMarker {
  filter: hue-rotate(120deg);
}

div#description {
  margin: 50px 0px 50px 0;
}

div#description div {
  margin: 0 10px 10px 0;
}

div#description h2 {
  margin: 0 0px 20px 0;
}

div#description div img {
  max-width: 30px;
  margin: 0 10px 0px 0;
}

/*/////////////////
///BOTTOM BAR////
////////////////*/

div#bottom-bar {
  position: fixed;
  z-index: 2000;
  bottom: 20px;
  left: 0px;
  right: 0px;
  height: 45px;
  z-index: 6;
  background: none;
}

div#bottom-bar div div.inner {
  position: relative;
  padding: 5px 10px 15px 10px;
  background: white;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
}

div#bottom-bar div div div {
  background: none;
  color: white;
  padding: 3px;
}

div#bottom-bar div.button-left {
  background: none;
  color: white;
  padding: 2px;
}

div#bottom-bar div.button-left img {
  width: 50px;
}

div#bottom-bar div.button-right img {
  width: 50px;
}

div#bottom-bar div.button-center img {
  width: 50px;
}

div#bottom-bar div.button-right {
  background: none;
  color: white;
  padding: 2px;
}

div#bottom-bar div.button-center {
  background: none;
  color: white;
  padding: 2px;
}

div#bottom-bar div.button-left:hover {
  cursor: pointer;
}

div#bottom-bar div.button-right:hover {
  cursor: pointer;
}

div#bottom-bar div.button-center:hover {
  cursor: pointer;
}

/*/ ////////////////
///TOP-BAR///////*/

div#top-bar {
  position: fixed;
  z-index: 2000;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
  z-index: 6;
  background: none;
}

div#top-bar div.inner {
  position: relative;
  padding: 2px 10px 2px 10px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#top-bar .avatar {
  margin: 5px 0 0 0;

  min-height: 35px;
  min-width: 35px;

  max-height: 35px;
  max-width: 35px;

  background: rgb(7, 7, 7);
  border-radius: 50%;
}

div#top-bar div div div {
  background: none;
  color: black;
}

div#top-bar div.button-left {
  background: none;
  color: white;
}

div#top-bar div.button-left img {
  width: 50px;
}

div#top-bar div.button-right img {
  width: 50px;
}

div#top-bar div.button-center img {
  width: 50px;
}

div#top-bar div.button-right {
  background: none;
  color: white;
  padding: 2px;
}

div#top-bar div.button-center {
  background: none;
  color: black;
  padding: 2px;
}

div#top-bar div.button-left:hover {
  cursor: pointer;
}

div#top-bar div.button-right:hover {
  cursor: pointer;
}

div#top-bar div.button-center:hover {
  cursor: pointer;
}

div#top-bar #name {
  width: fit-content;
  background: silver !important;
  border-radius: 10px;
  padding: 3px 7px 3px 7px !important;
  margin-top: 4px;
}

article {
  margin: 0 0 5px 0;
  padding: 3px;
  width: 100%;
  position: relative;
  max-width: 400px;
  overflow: hidden;
}

article div.user-date {
  font-size: small;
  margin: 0 0 5px 0;
}

#typing-indicator {
  max-height: 20px;
  display: block;
  margin: 10px 0 60px 0;
  padding: 10px;
  visibility: hidden;
  position: relative;
}

#typing-indicator.typing {
  visibility: visible;
}

#typing-indicator.typing::after {
  content: " ";
  animation: dots 1s steps(3, end) infinite;
  display: inline-block;
  white-space: pre;
  background: rgb(196, 199, 206);
  width: fit-content;
  height: 30px;
  border-radius: 7px;
  padding: 5px 5px 5px 5px;
}

@keyframes dots {
  0% {
    content: " ";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

article div.user-date span {
  font-weight: bold;
}

article img {
  width: 100%;
}

article .message-map {
  width: 100%;
  height: 150px;
  position: relative;
  background: url("map.png");
  background-size: cover;
}

.loading-spinner {
  display: none;
  position: fixed;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  z-index: 5000000000000;
}

.loading-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(126, 11, 11);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(238, 27, 27) transparent transparent transparent;
}
.loading-spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.advanced-settings {
  display: none;
}

#settings-page #custom-peer-id {
  margin: 10px 0 10px 0;
}

#settings-page .avatar {
  margin: 10px 0 10px 0;
}

#about-text {
  margin: 15px 0 0 0;
}

div#top {
  position: fixed;
  top: 0;
}

div.text {
  padding: 20px;
}

article div.message-head {
  font-size: small;
  color: gray;
  background: none;
  padding: 3px 3px 0px 3px;
  width: 100%;
}

article div.message-head img.pod-icon {
  width: 12px;
  padding: 0 4px 0 4px 0;
}

article div.new-date {
  font-size: small;
  color: rgb(0, 0, 0);
  background: none;
  padding: 3px;
  width: 100%;
  font-weight: bold;
}

article div.message-main {
  width: fit-content;
  border-radius: 7px;
  padding: 5px 5px 5px 5px;
}

article div.message-main:empty {
  display: none;
}

article.me {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

article.me div.message-main {
  background: rgb(45, 100, 208) !important;
  border-radius: 7px;
  padding: 5px 5px 5px 5px;
  color: white;
  width: fit-content;
}

article.me div.message-head {
  width: 100%;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

article.image {
  background-color: none;
}

article div.message-head div:nth-child(2) {
  margin: 0 0 0 20px;
}

div#message-input {
  background: none;
  height: 100vh;
  width: 100%;
  padding: 5px;
}

div#message-input input {
  border: 2px solid silver;
  border-radius: 10px;
  height: 40px;
  position: absolute;
  left: 10%;
  width: 80%;
  bottom: 80px;
}

#start {
  padding: 10px 10px 10px 10px;
}

#start p {
  overflow-y: scroll !important;
  padding: 50px 15px;
}

#start-text {
  overflow-y: scroll !important;
  padding: 20vh 0 50px 0;
  margin: 20% 0;
}

#start-text > div {
  min-width: 100%;
}

#start p:focus {
  background: none;
}

#start #logo img {
  width: 100%;
  left: 0;
  top: 0;
  display: block;
}

#start #logo {
  width: 120px;
  height: auto;
  position: relative;
  margin-top: 30px;
}

#start #liberapay {
  width: 100px;
  height: auto;
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 2;
}

#start kbd#version {
  border: 2px solid rgb(17, 2, 5);
  box-shadow: 8px 8px rgb(46, 96, 233);
  font-size: small;
  line-height: 0.85em;
  display: block;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 3px 5px;
  white-space: nowrap;
  color: white;
  width: fit-content;
  height: 20px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  color: black;
}

#start #local-by-design {
  border: 2px solid rgb(17, 2, 5);
  box-shadow: 8px 8px rgb(51, 240, 13);
  font-size: small;
  line-height: 0.85em;
  display: block;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 3px 5px;
  white-space: nowrap;
  color: black;
  width: fit-content;
  height: 20px;
  position: fixed;
  right: 20px;
  top: 20px;
}

#app {
  overflow-y: scroll;
  overflow-x: hidden;

  padding: 0px 0 0 0;
  min-height: 100vh;
  max-height: 100vh;
  outline: 10px solid rgb(174, 173, 179);
}

article {
  overflow: hidden;
}

article img {
  width: 100%;
}

#chat {
  padding-bottom: 60px;
  padding-top: 60px;
}

#chat article {
  min-width: 100%;
  max-width: 100%;
  margin: 0 0 5px 0;
  padding: 0px 10px 0 10px;
}

#chat article:hover {
  background: none;
}

#chat:last-child {
  padding-bottom: 60px;
}

#top-bar span.online-indicator {
  border-radius: 50%;
  background: red;
  border: 2px solid white;

  min-width: 12px;
  min-height: 12px;
  max-width: 12px;
  max-height: 12px;
  position: absolute;
  z-index: 1000;
  right: 20px;
}

span.user-online {
  background: rgb(81, 236, 9) !important;
}

span.user-offline {
  background: red !important;
}

@media screen and (min-width: 360px) and (max-width: 1000px) {
  #app {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px 0 0 0;

    background-image: radial-gradient(circle, #e2dddd 10%, transparent 11%);
    background-size: 5px 5px;

    outline: 0px solid black;
    box-shadow: 0px 0px lightblue;
  }

  article {
    display: block;
    overflow: hidden;
  }

  #wrapper {
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .page {
    padding: 40px 10px 10px 10px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #start #local-by-design {
    display: none;
  }

  div#bottom-bar div.button-left img {
    width: 50px;
  }

  div#bottom-bar div.button-right img {
    width: 50px;
  }

  div#bottom-bar div.button-center img {
    width: 50px;
  }

  div#bottom-bar div div.inner div {
    position: relative;
    padding: 0px 10px 0px 10px;
  }

  div#top-bar {
    margin: 0 0 20px 0;
    height: 40px;
  }

  div#top-bar div.inner {
    position: relative;
    padding: 2px 20px 2px 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  div#top-bar div.button-left img {
    width: 50px;
  }

  div#top-bar div.button-right img {
    width: 50px;
  }

  div#top-bar div.button-center img {
    width: 50px;
  }

  html,
  body {
    font-family: "Roboto" !important;
    font-weight: 400;
    position: relative;
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    max-width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;

    background: white;
  }

  article .map-component {
    width: 100vw;
    height: 200px;
  }

  #addressbook button.addressbook-item .inner {
    width: 80%;
    padding: 0 0 15px 10px !important;
  }

  #chat article:focus {
    background: rgba(180, 199, 168, 0.34);
  }

  #chat article {
    margin: 0 0 5px 0;
    padding: 0px 20px 0 20px;
  }

  #chat article.gps.me {
    border: 2px solid blue;
  }

  #chat article.gps_live.me {
    border: 2px solid blue;
  }

  .only-desktop {
    display: none !important;
  }
}

@media screen and (max-width: 320px) {
  .only-desktop {
    display: none !important;
  }

  button {
    font-size: 0.8rem;
  }
  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 1rem;
    width: 100%;
  }

  h3 {
    font-size: 1rem;
  }

  #settings-page #custom-peer-id {
    margin: 10px 0 10px 0;
  }

  #settings-page .avatar {
    margin: 10px 0 10px 0;
  }

  #settings-page input {
    max-width: 80%;
  }

  #start #local-by-design {
    display: none;
  }

  .page {
    padding: 40px 0px 10px 0px;
  }
  .input-parent:focus {
    background: orange;
  }

  #top-bar .avatar {
    margin: 2px 15px 0 0;

    min-height: 27px;
    min-width: 27px;

    max-height: 27px;
    max-width: 27px;

    background: rgb(7, 7, 7);
    border-radius: 50%;
  }

  div#message-input input {
    height: 40px;
    position: absolute;
    left: 10%;
    width: 80%;
    bottom: 80px;
    z-index: 3;
  }

  body {
    background-image: radial-gradient(circle, #e2dddd 10%, transparent 11%);
    background-size: 3px 3px;
    font-size: 1rem;
  }

  #chat article {
    padding: 0 15px 10px 15px;
  }

  #chat article:focus {
    background: rgba(180, 199, 168, 0.34);
  }
  #start {
    padding: 10px 10px 10px 10px;
    overflow: hidden;
  }

  #start-text {
    overflow-y: scroll !important;
    padding: 0vh 0 50px 0;
    height: 100vh;
    font-size: 0.8rem;
    line-height: 1rem;
  }

  #start p {
    overflow-y: scroll !important;
    padding: 20px 10px 10px 10px;
  }

  #addressbook .item:focus {
    background: rgba(45, 100, 208, 0.6) !important;
  }

  #addressbook button.addressbook-item {
    padding: 10px;
  }

  #addressbook button.addressbook-item .inner {
    padding: 0 0 8px 0 !important;
  }

  #addressbook button.addressbook-item .icon {
    min-width: 30px;
    height: 30px;
  }

  #addressbook button.addressbook-item img {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 10px;
  }

  .addressbook-box {
    margin: 0vh 0 0 0;
    padding: 0 0 100px 0;
    overflow: hidden;
  }

  .addressbook-box:last-child {
    margin: 0 0 30px 0;
  }

  #addressbook button.addressbook-item .last-conversation-message {
    font-size: 0.7rem !important;
  }

  #addressbook div.addressbook-item .last-conversation-date {
    font-size: 0.7rem !important;
  }

  #addressbook button.addressbook-item {
    min-height: 60px;
    max-height: 60px;
  }

  #chat article.gps.me {
    border: 2px solid blue;
  }

  #chat article.gps_live.me {
    border: 2px solid blue;
  }

  #chat:last-child {
    padding-bottom: 60px;
  }

  small {
    font-size: 0.7rem;
  }

  div#bottom-bar {
    height: 30px;
    bottom: 10px;
  }

  div#bottom-bar div.button-left img {
    width: 30px;
  }

  div#bottom-bar div.button-right img {
    width: 30px;
  }

  div#bottom-bar div.button-center img {
    width: 30px;
  }

  div#bottom-bar div div.inner {
    position: relative;
    padding: 0px 20px 15px 20px;
  }

  div#top-bar {
    height: 32px;
  }

  div#top-bar div.button-left img {
    width: 30px;
  }

  div#top-bar div.button-right img {
    width: 30px;
  }

  div#top-bar div.button-center img {
    width: 30px;
  }

  div#intro img {
    width: 120px;
    height: auto;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -60px;
    animation-name: intro_img;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  #KaiOSads-Wrapper {
    padding: 0px;
    height: 200px !important;
    width: 100vw;
    overflow: hidden;
    margin: 0 0 0 10px;
  }

  #KaiOSAds-Wrapper iframe {
    min-width: 100vw;
  }
}
